/node_modules
/public/hot
/public/storage
/database/*.sqlite
/database/*
/storage/*
/vendor
/ssl
/.idea
/.vagrant
Homestead.json
Homestead.yaml
/storage/logs/*.key
/public/.well-known
resources/views/vendor/mail/*
